---
layout: page
---

{%- assign tags = '' | split: '' -%}
{% assign all_projects = site.projects | concat: site.examples %}
{%- for project in all_projects -%}
   {%- for tag in project[page.tags] -%}
      {% unless tags contains tag %}
         {% assign tags = tags | push: tag %}
      {% endunless %}
   {%- endfor -%}
{%- endfor -%}
{% assign tags = tags | sort_natural %}

<div class="container">
   <div class="row justify-content-center">
      {%- for tag in tags -%}
         {% assign name = tag | downcase | slugize %}
         {% assign link = '#' | append: name %}
         <a href="{{ link }}" class="btn btn-outline-primary">{{tag}}</A>
      {%- endfor -%}
   </div>
   
   {%- for tag in tags -%}
   <section id="{{ tag | downcase | slugize }}">
      <h2>{{ tag }}</h2>
      {%- assign projects = '' | split: '' -%}
      {%- for project in all_projects -%}
         {%- if project[page.tags] contains tag -%}
            {% assign projects = projects | push: project %}
         {%- endif -%}
      {%- endfor -%}
      {% include projectList.html projects=projects %}
   </section>
   {%- endfor -%}
</div>